pre code.hljs {
    display: block;
    overflow-x: auto;
    padding: 1em
}

code.hljs {
    padding: 3px 5px
}

.hljs {
    color: #383a42;
    background: #fafafa
}

.hljs-comment, .hljs-quote {
    color: #a0a1a7;
    font-style: italic
}

.hljs-doctag, .hljs-formula, .hljs-keyword {
    color: #a626a4
}

.hljs-deletion, .hljs-name, .hljs-section, .hljs-selector-tag, .hljs-subst {
    color: #e45649
}

.hljs-literal {
    color: #0184bb
}

.hljs-addition, .hljs-attribute, .hljs-meta .hljs-string, .hljs-regexp, .hljs-string {
    color: #50a14f
}

.hljs-attr, .hljs-number, .hljs-selector-attr, .hljs-selector-class, .hljs-selector-pseudo, .hljs-template-variable, .hljs-type, .hljs-variable {
    color: #986801
}

.hljs-bullet, .hljs-link, .hljs-meta, .hljs-selector-id, .hljs-symbol, .hljs-title {
    color: #4078f2
}

.hljs-built_in, .hljs-class .hljs-title, .hljs-title.class_ {
    color: #c18401
}

.hljs-emphasis {
    font-style: italic
}

.hljs-strong {
    font-weight: 700
}

.hljs-link {
    text-decoration: underline
}

.dark pre code.hljs {
    display: block;
    overflow-x: auto;
    padding: 1em;
}

.dark code.hljs {
    padding: 3px 5px;
}

.dark .hljs {
    color: #abb2bf;
    background: #282c34;
}

.dark .hljs-comment, .dark .hljs-quote {
    color: #5c6370;
    font-style: italic;
}

.dark .hljs-doctag, .dark .hljs-formula, .dark .hljs-keyword {
    color: #c678dd;
}

.dark .hljs-deletion, .dark .hljs-name, .dark .hljs-section, .dark .hljs-selector-tag, .dark .hljs-subst {
    color: #e06c75;
}

.dark .hljs-literal {
    color: #56b6c2;
}

.dark .hljs-addition, .dark .hljs-attribute, .dark .hljs-meta .hljs-string, .dark .hljs-regexp, .dark .hljs-string {
    color: #98c379;
}

.dark .hljs-attr, .dark .hljs-number, .dark .hljs-selector-attr, .dark .hljs-selector-class, .dark .hljs-selector-pseudo, .dark .hljs-template-variable, .dark .hljs-type, .dark .hljs-variable {
    color: #d19a66;
}

.dark .hljs-bullet, .dark .hljs-link, .dark .hljs-meta, .dark .hljs-selector-id, .dark .hljs-symbol, .dark .hljs-title {
    color: #61aeee;
}

.dark .hljs-built_in, .dark .hljs-class .hljs-title, .dark .hljs-title.class_ {
    color: #e6c07b;
}

.dark .hljs-emphasis {
    font-style: italic;
}

.dark .hljs-strong {
    font-weight: 700;
}

.dark .hljs-link {
    text-decoration: underline;
}
